/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby/2.0.0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../_sass/main.sass */
body {
  length: 100%;
  margin: 0px auto;
  font-family: "Gentium Book Basic", serif;
}

/* line 13, ../_sass/main.sass */
.title {
  color: #ff6036;
  text-decoration: none;
  font: bold 450% "Gentium Book Basic", serif;
  float: left;
}

/* line 19, ../_sass/main.sass */
.clear {
  clear: both;
}

/* line 22, ../_sass/main.sass */
.social {
  float: left;
  margin-left: 50px;
  padding-top: 25px;
}
/* line 26, ../_sass/main.sass */
.social a {
  text-indent: -9999px;
  margin-right: 15px;
  opacity: 0.5;
  display: inline-block;
  height: 40px;
  width: 40px;
}
/* line 33, ../_sass/main.sass */
.social a:hover {
  opacity: 1;
}
/* line 35, ../_sass/main.sass */
.social a.twitter {
  background: url(/img/twitter.png) center no-repeat transparent;
  background-size: 40px 40px;
}
/* line 38, ../_sass/main.sass */
.social a.github {
  background: url(/img/github.png) center no-repeat transparent;
  background-size: 40px 40px;
}
/* line 41, ../_sass/main.sass */
.social a.linkedin {
  background: url(/img/linkedin.png) center no-repeat transparent;
  background-size: 40px 40px;
}
/* line 44, ../_sass/main.sass */
.social a.rss {
  background: url(/img/rss.png) center no-repeat transparent;
  background-size: 40px 40px;
}
