/**
 * Site header
 */
.title {
    margin-top: 35px;
    color: #ff6036;
    text-decoration: none;
    text-align: center;
    font-size: 4em
}

.header {
    @extend .wrapper
}

.content {
    @extend .wrapper
}

.navigation {
    text-align: center;
    margin-bottom: 15px;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style: none;
        }
    }
}

.social {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: $spacing-unit;

    a {
        text-indent: -9999px;
        opacity: 0.5;
        display: inline-block;
        height: 40px;
        width: 40px;

        &:hover {
            opacity: 1;
        }

        &.twitter {
            background: url('/img/twitter.png');
            background-size: 40px 40px;
        }

        &.github {
            background: url('/img/github.png');
            background-size: 40px 40px;
        }

        &.linkedin {
            background: url('/img/linkedin.png');
            background-size: 40px 40px;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    margin-top: $spacing-unit;
    font-size: 28px;
    text-align: center;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    width: 125px;
    display: inline-block;
    font-size: $base-font-size;
    color: $grey-color;
}

.post-link {
    font-size: $base-font-size;
    color: $grey-color;
}



/**
 * Posts
 */
.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * About.html
 */

.description {
    margin-top: $spacing-unit;
    text-align: justify;

    p {
      margin-bottom: $spacing-unit;
    }
}



