/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body
  length: 100%
  font-family: "Gentium Book Basic", serif

.wrapper
  max-width: 600px
  margin: 0 auto

.header
  @extend .wrapper

.content
  @extend .wrapper

.title
  margin-top: 35px
  color: #FF6036
  text-decoration: none
  font: bold 5em "Gentium Book Basic",serif
  text-align: center
  @media screen and (max-width: 700px)
    font-size: 4em
  @media screen and (max-width: 500px)
    font-size: 3em
  @media screen and (max-width: 320px)
    font-size: 2.5em

.social
  text-align: center
  padding-top: 15px
  a
    text-indent: -9999px
    opacity: 0.5
    display: inline-block
    height: 40px
    width: 40px
    &:hover
      opacity: 1
    &.twitter
      background: image-url('/img/twitter.png') center no-repeat transparent
      background-size: 40px 40px
    &.github
      background: image-url('/img/github.png') center no-repeat transparent
      background-size: 40px 40px
    &.linkedin
      background: image-url('/img/linkedin.png') center no-repeat transparent
      background-size: 40px 40px
    &.rss
      background: image-url('/img/rss.png') center no-repeat transparent
      background-size: 40px 40px

.logo
  text-align: center
  margin-top: 10px
  img
    border: 5px solid #FF6036
    width: 180px
    height: 180px
    border-radius: 50%
    -moz-border-radius: 50%
    -webkit-border-radius: 50%
    background: image-url('/img/logo.png') center no-repeat transparent
    background-size: 180px 180px

.description
  margin: 10px
  text-align: justify
  font-size: 1.25em


