<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google font -->
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div>
          <div>
            <div>
              <div class="title">
                {{ site.title }}
              </div>
              <div class="social">
                <a href="http://www.github.com/haeky" class="github" title="GitHub" target="blank">GitHub</a>
                <a href="http://www.twitter.com/laurentdang" class="twitter" title="Twitter" target="blank">Twitter</a>
                <a href="http://ca.linkedin.com/in/laurentdang/" class="linkedin" title="LinkedIn" target="blank">LinkedIn</a>
                <a href="/atom.xml" class="rss" title="RSS" target="blank">RSS</a>
              </div>
              <div class="clear"></div>
              <div class="subtitle">
                {{ site.subtitle }}
              </div>
            </div>
            {{ content }}
          </div>
        </div>
    </body>
</html>
